/* CONTENEDOR IZQUIERDO */
.izq-cont{
	width:100%;
	height: 100%;
	margin-top:50px;
	background:rgba(0,0,0,.9);
	position: fixed;
	z-index:10;
	opacity:0;
	display:none;
}
.izq-fondo{
	opacity:0;
	background: #1c1c1c;
	position: fixed;
	left:-100%;
	width: 300px;
	height: 100%;
	padding:20px;
	overflow-y: scroll;
}
.izq-fondo::-webkit-scrollbar{
    width:7px;
}
.izq-fondo::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,.2);
	border-radius:5px;
}
.remover-seccion{
	display:block;
	position: absolute;
	font-size:1em;
	color:#999;
	padding-top:10px;
	right:0;
	top:0;
}
.izq-fondo ul{
	list-style:none;
}
.info-estado > li > p{
	color: #fff;
	padding:5px 0;
	cursor:pointer;
}
.info-estado > li > p i:first-child{
	color: #339966;
	padding-right:5px;
}
.f-curso, .f-estudio, .f-discusion{
	margin-left:25px;
	font-size: .9em;
	opacity:1;
}
	/* Menu usuario */
.izq-fondo .menu-usuario{
	list-style:none;
	margin-bottom:10px;
}
.izq-fondo .menu-usuario li a,.izq-fondo .menu-usuario li{
	overflow:hidden;
	display:block;
	text-decoration:none;
	color: #fff;
}
.izq-fondo .menu-usuario li a i{
	width:25px;
	color:#0c6;
}
.izq-fondo .menu-usuario li a{
	padding-bottom:15px;
}
.izq-fondo .menu-usuario li a:hover{
	color:rgba(250,250,250,.6);
}
.izq-fondo .menu-usuario li:first-child{
	background: rgba(0,0,0,.03);
	padding:0;
	padding-bottom:10px;
	cursor:default;
}
.izq-fondo .menu-usuario li:first-child div{
	padding-top:15px;
}
.izq-fondo .menu-usuario li:first-child span{
	line-height:15px;
	display:block;
}
.izq-fondo .menu-usuario li:first-child span:first-child i{
	color:#00994d;
	padding-left:10px;
}
.izq-fondo .menu-usuario li:first-child span:last-child{
	padding-top:3px;
	color:#00cc66;
	font-size:.8em;
	text-transform:uppercase;
}
.izq-fondo .menu-usuario li img{
	display:block;
	width:40px;
	height:40px;
	border-radius: 50%;
	margin:10px 10px 10px 0;
	float:left;
}.izq-fondo .menu-usuario li:last-child a{
	border-top:1px solid rgba(250,250,250,.1);
	border-bottom:1px solid rgba(250,250,250,.1);
	padding-top:15px;
}
	/* Cursos */
.f-curso li{
	padding:10px 0;
	border-bottom:1px solid rgba(255,255,255,.3);
}.f-curso li:last-child{
	border-bottom:none;
}
.f-curso li a, .f-estudio li a, .f-discusion li a{
	line-height:20px;
	color:#00cc66;
	text-decoration:none;
	display:block;
}
.f-curso li, .f-estudio li, .f-discusion li{
	position: relative;
}
.f-curso li a span, .f-estudio li a span, .f-discusion li a span{
	display:block;
}
.f-curso li a span:first-child, .f-estudio li a span:first-child, .f-discusion li a span:first-child{
	margin-right:15px;	
}
.f-curso .autor-curso, .f-estudio .lider-grupo, .f-discusion .res-discusion{
	font-size:.9em;
	color:#b3b3b3;
}
.f-curso .autor-curso{
	text-transform:uppercase;
}
.progress-bar{
	margin-top:5px;
	background: rgba(255,255,255,.2);
	width:100%;
	height:8px;
}
.progress{
	background: #00cc66;
	height:8px;
	width:20%;
}
	/* Grupos de estudio */
.f-estudio li{
	padding:10px 0;
}
/*.f-estudio li:first-child a,*/ .f-discusion li:first-child a{
	border-bottom:1px solid rgba(255,255,255,.3);
	padding-bottom:10px;
	color:#999;
}
/*.f-estudio li:first-child a:hover,*/ .f-discusion li:first-child a:hover{
	color:#fff;
}
.f-estudio .lider-grupo{
	font-style: italic;
}
	/* Discusiones*/
.f-discusion li{
	padding:10px 0;
}
.f-discusion li a{
	color: #00e6ac;
	display:block;
}
.f-discusion .res-discusion i{
	color: #00cc66;
}