*{
	padding: 0;
	margin: 0;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body,html{
	height: 100%;
	font: 16px 'Open Sans', sans-serif, arial, helvetica;
	background: ;/*rgba(0,0,0,.02);*/
}
header{
	background: #fff;
	/*background-image: linear-gradient(to right, #020403, #0e1d16, #103122, #11462d, #115c38);*/
	/*background-image: linear-gradient(to right, #020403, #0e1d16, #103122, #11462d, #115c38);*/
	/*background-image: linear-gradient(to left, #1d1d1d, #27202d, #392037, #4f1c3b, #661236);*/
	/*background-image: linear-gradient(to right, #112841, #122a44, #132c46, #142f49, #15314c);*/
	/*background-image: linear-gradient(to right, #112439, #27264b, #4a2151, #6d1247, #87002f);*/
	/*background-image: linear-gradient(to right, #0f4244, #005b56, #00755f, #008f61, #27a85a);*/
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 100;
	-webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,.2);
	box-shadow: 0 0 8px 3px rgba(0,0,0,.2);
}
/*- LOGOTIPO -*/
.logotipo{
	float: left;
}
.logotipo i{
	display: block;
	font-size: 1.3em;
	padding: 15px;
	float: left;
	color: #666;
	cursor: pointer;
	border-right: 1px solid rgba(0,0,0,.2);
}
.logotipo i.active{
	position: relative;
}
.logotipo i.active::after{
	content:" ";
	border:10px solid transparent;
	border-top-color:#fff;
	border-bottom-width:0;
	position: absolute;
	bottom:-10px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	left:50%;
}
.flixat{
	float: right;
	margin-left: 20px;
	margin-top: 9px;
	font: 28px 'Poiret One', cursive;
	color: #00cc66;
	letter-spacing: 2px;
	font-weight: bold;
}
/*- OTROS ENLACES -*/
.enlaces{
	float: right;
	padding:7px;
	padding-right: 15px;
}
	/* ENLACES SITIO */
.enlaces-sitio{
	float: left;
	margin-right: 10px;
}
.enlaces-sitio li{
	float: left;
	list-style: none;
	margin-right: 8px;
}
.enlaces-sitio li i,.enlaces-sitio li a{
	display:block;
	margin-top: 2px;
	cursor:pointer;
	width:33px;
	height:33px;
	color: #666;
	font-size: 1.1em;
	text-align:center;
	padding-top:8px;
	border-radius: 50%;
}
.enlaces-sitio li a{
	padding:0;
	margin:0;
	text-decoration:none;
}
.enlaces-sitio li i:hover{
	background: rgba(0,0,0,.05);
}
.enlaces-sitio li:nth-child(2){
	padding-right:8px;
	border-right:1px solid rgba(0,0,0,.2);
}
.ajuste-cont{
	width: 37px;
	height: 37px;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: 0 0 10px 1px rgba(255,255,255,.1);
	box-shadow: 0 0 10px 1px rgba(255,255,255,.1);
}.ajuste-cont:hover{
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}
.ajuste-cont img{
	width: 100%;
	height:100%;
}
	/* Submenu de usuario*/
.menu-usuario{
	opacity:0;
	display:none;
	width:250px;
	position: absolute;
	top:100%;
	right:0;
	background: #fff;
	list-style:none;
	-webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
	box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
}
.menu-usuario li a,.menu-usuario li{
	overflow:hidden;
	display:block;
	text-decoration:none;
	color: #666;
}.menu-usuario li a:hover i{
	color:#00cc66;
}
.menu-usuario li a i{
	width:60px;
	text-align:center;
}
.menu-usuario li a{
	padding:10px 0;
}
.menu-usuario li:first-child{
	background: rgba(0,0,0,.03);
	padding:0;
	cursor:default;
}
.menu-usuario li:nth-child(2) a{
	padding-top:20px;
}
.menu-usuario li:last-child{
	border-top:1px solid rgba(0,0,0,.1);
	margin-top:10px;
}
.menu-usuario li:first-child div{
	padding-top:15px;
}
.menu-usuario li:first-child span{
	line-height:15px;
	display:block;
}
.menu-usuario li:first-child span:last-child{
	padding-top:3px;
	color:#00cc66;
	font-size:.8em;
	text-transform:uppercase;
}
.menu-usuario li img{
	display:block;
	width:40px;
	height:40px;
	border-radius: 50%;
	margin:10px;
	float:left;
}
/*--- Cuerpo ---*/
.cuerpo{
	padding-top: 50px;
	min-height: calc(100% - 50px);
}
/* CONTENEDOR IZQUIERDO */
.izq-cont{
	opacity:0;
	background: #1c1c1c;
	position: fixed;
	left:-100%;
	width: 300px;
	height: calc(100% - 50px);
	z-index:10;
	padding:20px;
	overflow-y: scroll;
}
.izq-cont::-webkit-scrollbar{
    width:7px;
}
.izq-cont::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,.2);
	border-radius:5px;
}
.remover-seccion{
	display:block;
	position: absolute;
	font-size:1em;
	color:#999;
	padding-top:10px;
	right:0;
	top:0;
}
.izq-cont ul{
	list-style:none;
}
.info-estado > li > p{
	color: #fff;
	padding:5px 0;
	cursor:pointer;
}
.info-estado > li > p i:first-child{
	color: #339966;
	padding-right:5px;
}
.f-curso, .f-estudio, .f-foro{
	margin-left:25px;
	font-size: .9em;
	opacity:1;
}
	/* Cursos */
.f-curso li{
	padding:10px 0;
	border-bottom:1px solid rgba(255,255,255,.3);
}.f-curso li:last-child{
	border-bottom:none;
}
.f-curso li a, .f-estudio li a, .f-foro li a{
	line-height:20px;
	color:#00cc66;
	text-decoration:none;
	display:block;
}
.f-curso li, .f-estudio li, .f-foro li{
	position: relative;
}
.f-curso li a span:last-child, .f-estudio li a span:last-child, .f-foro li a span:last-child{
	display:block;
}
.f-curso .autor-curso, .f-estudio .lider-grupo, .f-foro .res-foro{
	font-size:.9em;
	color:#b3b3b3;
}
.f-curso .autor-curso{
	text-transform:uppercase;
}
.progress-bar{
	margin-top:5px;
	background: rgba(255,255,255,.2);
	width:100%;
	height:8px;
}
.progress{
	background: #00cc66;
	height:8px;
	width:20%;
}
	/* Grupos de estudio */
.f-estudio li{
	padding:10px 0;
}
.f-estudio li:first-child a, .f-foro li:first-child a{
	border-bottom:1px solid rgba(255,255,255,.3);
	padding-bottom:10px;
	color:#999;
}
.f-estudio li:first-child a:hover, .f-foro li:first-child a:hover{
	color:#fff;
}
.f-estudio .lider-grupo{
	font-style: italic;
}
	/* Foros*/
.f-foro li{
	padding:10px 0;
}
.f-foro li a{
	color: #00e6ac;
}
.f-foro .res-foro i{
	color:#00cc66;
}
/* CONTENEDOR DERECHO */
.margen-general{
	width:90%;
	margin:0 auto;
}
.der-cont{
	position: relative;
	min-height:calc(100% - 50px);
	padding-top:30px;
}
.margen-general{
	margin-top: 20px;
}
	/* Barra de busqueda */
.buscar-curso{
	width:100%;
	display:block;
	overflow:hidden;
}
.buscar-curso input{
	padding:10px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	display:block;
	width:calc(100% - 42px);
	outline:none;
	background: #fff;
	font-size:14px;
	color:#666;
	border:1px solid #ccc;
	border-right:none;
	font-family:'Open sans';
	float:left;
}
.buscar-curso input:focus{

}
.buscar-curso button{
	background: rgba(0,0,0,.05);
	color:#666;
	padding:10.5px 12px;
	outline:0;
	font-size:16px;
	border:1px solid #ccc;
	float:right;
}
	/* Seccion cursos recientes */
.cursos-recientes{
	position: relative;
}
.cursos-recientes h2{
	margin-bottom:10px;
	font-weight:lighter;
}
.cont-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.cursos-recientes .cont-cursos{
	width:100%;
	overflow:hidden;
}
.cursos-recientes .cont-cursos .cont-flex {
	min-width:200%;
}
.cursos-recientes article{
	width:calc(100% / 10);
	margin-right:10px;
}
.cursos-recientes article a{
	text-decoration:none;
	display:block;
}
.cursos-recientes article:last-child{
	margin-right: 0;
}
.cursos-recientes article img{
	width:100%;
	height:200px;
	display:block;
}
.curso-desc{
	padding:20px;
	border-bottom:3px solid #00cc66;
	border-right:1px solid rgba(0,0,0,.1);
	border-left:1px solid rgba(0,0,0,.1);
}
article:hover .curso-desc{
	border-bottom-color:#00e673;
}
.curso-desc h3{
	font-size:15px;
	font-weight:600;
	color:#595959;
	margin-bottom:10px;
	height:40px;
	overflow:hidden;
}
.curso-desc h4{
	font-size:13px;
	font-weight:lighter;
	color:#666;
}
.cursos-recientes .flecha-izq i, .cursos-recientes .flecha-der i{
	padding-top:5px;
}
.cursos-recientes .flecha-izq, .cursos-recientes .flecha-der{
	display:block;
	position: absolute;
	top:50%;
	border:none;
	background: #fff;
	color:#00cc66;
	outline:none;
	font-size:25px;
	width:40px;
	cursor:pointer;
	height:40px;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
	box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
}
.cursos-recientes .flecha-izq:hover, .cursos-recientes .flecha-der:hover{
	-webkit-box-shadow: 0 2px 15px 2px rgba(0,0,0,.13), 0 2px 15px 2px rgba(0,0,0,.13);
	box-shadow: 0 2px 15px 2px rgba(0,0,0,.13), 0 2px 15px 2px rgba(0,0,0,.13);
}
.cursos-recientes button:hover i{
	color:#00e673;
}
.cursos-recientes .flecha-izq{
	left:-20px;
}
.cursos-recientes .flecha-der{
	right:-20px;
}
	/* Sitio desc */
.sitio-desc{
	padding:20px;
	background: url('../img/fondo2.png');
}
.sitio-desc > div{
	width:calc(100% / 3);
	color:#fff;
}
.sitio-desc > div h5{
	font-size:18px;
}
.sitio-desc > div p{
	font-size:15px;
}