/* FOOTER */

footer{
	background: url("../img/fondo-footer.jpg") no-repeat center;
	overflow:hidden;
}
footer .contenedor-footer{
	padding:100px 0 50px 0;
	background: rgb(28, 28, 28, 0.8);
}
footer .cont-flex ul, footer .margen-general:last-child li{
	width:calc(100%/3);
}
footer ul li{
	list-style:none;
	margin-top:10px;
}
footer ul li:first-child{
	margin-top:0;
	color:#0c6;
}
footer .margen-general:first-child ul li:first-child{
	text-transform:uppercase;
}
footer ul li a{
	text-decoration:none;
	display:block;
	font-size:.8em;
	color:#ccc;
}
footer ul li a:hover{
	color:#fff;
}
footer ul:first-child li{
	text-align:left;
}
footer ul:nth-child(2) li{
	text-align:center;
}
footer ul:nth-child(3) li{
	text-align:right;
}

/* Segundo bloque footer */
footer .margen-general:last-child{
	margin-top:40px;
	padding:10px 0;
}
footer .derechos, footer .frase{
	color:#ccc;
	font-size:.8em;
}
footer .derechos{
	float:right;
}
footer .frase{
	float:left;
	font-style: italic;
}
footer .derechos a{
	text-decoration:none;
	color:#00994d;
}
footer .derechos a:hover{
	color:#0c6;
}