.link{
  text-align: center;
}
.link p{
  font-size: 5em;
  color: rgb(0, 204, 102);
}
.link span{
  color: rgb(255, 255, 255);
  padding-top: 10px;
}
.logout{
  position: absolute;
  bottom: 20px;
}
.logout a{
  text-decoration: none;
  font-size: 1em;
}
.logout p{
  color: rgb(0, 204, 102);
}
.logout span{
  color: rgb(255,255,255);
}
